.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    cursor: pointer;
    background-color: rgb(27, 25, 25);
    color: white
}

.card:hover {
    transform: scale(1.05);
}

.card_title {
    font-size: 1.5rem;
}