.language {
    position: relative;
    width: 150px;
    font-family: Arial, sans-serif;
}

.language_flag {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ADD8E6;
    border-radius: 5px;
    font-weight: bold;
}

.language_list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #FFF;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.language_list_element {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.language_list_element_image {
    margin-right: 0.7rem
}