.container {
  display: flex;
  background-color: var(--bg);
  color: var(--softTextColor);
}
.border {
  border-right: 1px solid #ccc;
}
.description {
  padding: 1rem 4rem;
}

.content {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  text-align: justify;
  max-width: 48rem /* 768px */;
}

.link {
  font-weight: 600;
  text-decoration: none;
  color: var(--textColor);
}
